<div class="content-body">
    <div class="col-xl-9 col-lg-8">
        <div class="card profile-card card-bx m-b30">
            <div class="card-header">
                <h6 class="title">Task details</h6>
                
            </div>
            
            <form class="profile-form">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 m-b30">
                            <label class="form-label">ID</label>
                            <input type="text" class="form-control" value="{{todo?.id}}">
                        </div>
                        <div class="col-sm-6 m-b30">
                            <label class="form-label">Title</label>
                            <input type="text" class="form-control" value="{{todo?.title}}">
                        </div>
                        <div class="col-sm-6 m-b30">
                            <label class="form-label">Description</label>
                            <textarea type="text" class="form-control" value="{{todo?.description}}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">UPDATE</button>
                    <button class="btn btn-danger">DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>